VITE_SUPABASE_URL=https://motokkwnjtjojaafylrx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vdG9ra3duanRqb2phYWZ5bHJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5MTc4MDksImV4cCI6MjEwMjQ5MzgwOX0.mR2xg5Pecmd30XgRKYt1aPy0S9b0qWke-AEVWOgUUJ0
